<!DOCTYPE html>
<html>
<head>
    <title>Trade</title>
    <style>
    </style>
</head>
<body>
    <h1>Trade Stocks</h1>
    <div class="balance">Remaining Balance: ${{ balance }}</div>

    <form action="/trade" method="POST">
        <label for="asset_name">Asset Name:</label>
        <input type="text" id="asset_name" name="asset_name" placeholder="Enter asset name"><br>
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" placeholder="Enter quantity"><br>
        <input type="submit" value="Buy">
    </form>
</body>
</html>
